extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th Имя
            th Цена работы
            th id материала
            th id камня
            th вес материала
            th вес камня
            th id типа 
        each item in product
            tr
                td= item.product_id
                td= item.product_name
                td= item.production_cost 
                td= item.material_id
                td= item.stone_id 
                td= item.material_weight 
                td= item.stone_weight 
                td= item.type_id
