extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th имя
            th id материала
            th id камня
        each item in supplier
            tr
                td= item.supplier_id
                td= item.supplier_name 
                td= item.material_id
                td= item.stone_id 