extends ../layout

block content
    h1= title
    table
        tr 
            th id
            th Имя
            th id заказа
            th стоимость
        each item in order_items
            tr
                td= item.id
                td= item.label 
                td= item.id_order
                td= item.amount
